{
 "dankHooks": {
  "enabled": true,
  "wallpaperPath": "__HOME__/.local/bin/ominty-hook"
 },
 "dankKDEConnect": {
  "enabled": true
 },
 "dankLauncherKeys": {
  "enabled": true,
  "noTrigger": true,
  "providers": [
   "niri"
  ]
 },
 "omintyActions": {
  "enabled": true,
  "noTrigger": true,
  "trigger": ""
 },
 "omintyKeybinds": {
  "enabled": true
 },
 "quickCapture": {
  "enabled": true
 },
 "wallpaperCarousel": {
  "enabled": true,
  "wallpaperDirectory": "__HOME__/Wallpapers"
 }
}